@font-face{
font-family:'Minecraft';
src:url('../fonts/Minecraftia-Regular.ttf') format('truetype');
}

body{
margin:0;
font-family:Arial, Helvetica, sans-serif;
background:#0f0f0f;
}

.navbar{
position:sticky;
top:0;

display:flex;
align-items:center;

padding:12px 20px;

background:rgba(0,0,0,0.45);
backdrop-filter:blur(10px);

z-index:999;
}

.navbar-line{
position:absolute;
bottom:0;
left:50%;

height:1px;
width:0%;

background:#39ff14;

transform:translateX(-50%);

animation:lineGrow 1.2s ease forwards;

border-radius:2px;
}

@keyframes lineGrow{

0%{
width:0%;
}

100%{
width:100%;
}

}

/* MENU */

.menu-btn{
width:36px;
height:36px;

display:flex;
justify-content:center;
align-items:center;

background:rgba(255,255,255,0.05);
border:1px solid rgba(255,255,255,0.1);

color:white;
font-size:20px;

cursor:pointer;

border-radius:6px;
transition:0.2s;
}

.menu-btn:hover{
background:rgba(255,255,255,0.1);
}

.nav-logo{
margin-left:auto;
display:flex;
align-items:center;
}

.nav-logo img{
height:36px;
width:auto;
max-height:36px;
object-fit:contain;
pointer-events:none;
}

.floating-text{
position:absolute;
left:50%;
transform:translateX(-50%);

font-family:'Minecraft', monospace;
font-size:13px;

color:#00ff88;

background:linear-gradient(
90deg,
#00ff88 0%,
#ffffff 20%,
#00ff88 80%,
#00ff88 100%
);

background-size:200% 100%;
-webkit-background-clip:text;
-webkit-text-fill-color:transparent;

animation:shineMove 3s linear infinite;
}