.copy-notify{

position:fixed;
bottom:25px;
left:50%;
transform:translateX(-50%) scale(0.9);

padding:12px 28px;

font-size:13px;
letter-spacing:1px;
font-weight:bold;

color:white;

border-radius:85px;

/* supaya teks tidak turun */
white-space:nowrap;

/* minimal lebar pills */
min-width:230px;
text-align:center;

/* glass gray */

background:rgba(120,120,120,0.25);
backdrop-filter:blur(10px);
-webkit-backdrop-filter:blur(10px);

border:1px solid rgba(255,255,255,0.15);

opacity:0;
transition:all .35s ease;

pointer-events:none;
}

.copy-notify.show{
opacity:1;
transform:translateX(-50%) scale(1);
}