@media (min-width:900px){

.navbar{
display:flex;
align-items:center;
flex-wrap:nowrap;
gap:25px;
}

/* sembunyikan tombol hp */
.menu-btn{
display:none;
}

/* urutan elemen */
.nav-logo{ order:1; }
.floating-text{ order:2; }
.nav-links{ order:3; }

/* menu */
.nav-links{
display:flex;
gap:25px;
white-space:nowrap;
}

/* style link */
.navbar a{
position:relative;
text-decoration:none;
color:white;
padding:6px 14px;
border-radius:20px;
transition:background .25s ease;
}

/* background hover */
.navbar a:hover{
background:rgba(0,255,136,0.15);
}

/* underline animasi */
.navbar a::after{
content:"";
position:absolute;
left:50%;
bottom:-4px;
width:0;
height:2px;
background:#00ff88;
transform:translateX(-50%);
transition:width .25s ease;
}

.navbar a:hover::after{
width:70%;
}

/* tulisan LIFEASMP */
.floating-text{
position:static;
transform:none;
}

/* logo kiri */
.nav-logo img{
height:32px;
}

}