.extra {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.extra label {
    font-size: 12px;
}

.extra input {
    padding: 10px;
    border-radius: 8px;
    border:1px solid rgba(255,255,255,0.08);
    background: rgba(120,120,120,0.08);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    color: white;
    font-family: 'Minecraftia', monospace;
    font-size: 13px;
    outline: none;
}